#index1{
                position:absolute;
                top:70%;
                left:50%;
                width:120px;  /* adjust as per your needs */
                height:40px;   /* adjust as per your needs */
                margin-left:-60px;   /* negative half of width above */
                margin-top:-20px;   /* negative half of height above */
                right:50%;
}

#index2{
                position:absolute;
                top:70%;
                left:50%;
                width:120px;  /* adjust as per your needs */
                height:40px;   /* adjust as per your needs */
                margin-left:-60px;   /* negative half of width above */
                margin-top:-20px;   /* negative half of height above */
                right:50%;
}

#index3{
                position:absolute;
                top:70%;
                left:50%;
                width:120px;  /* adjust as per your needs */
                height:40px;   /* adjust as per your needs */
                margin-left:-60px;   /* negative half of width above */
                margin-top:-20px;   /* negative half of height above */
                right:50%;
}

#index4{
                position:absolute;
                top:70%;
                left:50%;
                width:120px;  /* adjust as per your needs */
                height:40px;   /* adjust as per your needs */
                margin-left:-60px;   /* negative half of width above */
                margin-top:-20px;   /* negative half of height above */
                right:50%;
}

#index5{
                position:absolute;
                top:70%;
                left:50%;
                width:120px;  /* adjust as per your needs */
                height:40px;   /* adjust as per your needs */
                margin-left:-60px;   /* negative half of width above */
                margin-top:-20px;   /* negative half of height above */
                right:50%;
}
